body{
	background-color:#fff; 
	color:#665E60;
	font-family:Arimo;
	font-size:16px;
}

/*.shadow_grey{
	background-color:#665E60;
	width:22.2%;
	height:100%;
	z-index:-1;  This is a failed attempt to create equal column heights
}*/

.grey{
	background-image: url(portrait_noborder.jpg);
	background-repeat:no-repeat;
	background-color:#665E60;
	float:left;
	display:inline;
	width:22.2%;
	padding-bottom:54%;
	background-size: contain;
	/*z-index:1;  This is part of the attempt to create equal column heights*/
}

.text{
	color:#fff;
	margin-top:210%;
	padding:.0  1.7em 0 .7em;
	text-align: right;
	line-height:1.5em;
}

.main_content{
	float:right;
	display:inline;
	width:77.8%;
}

header{
	text-align: center;
}

h1{
	font-size: 2.7em;
	line-height: .3em;
	margin-top:1.5em;
}

h2{
	font-size: 1.4em;
	line-height: 0.75em;
	margin-bottom:2em;
}

address{
	font-style:normal;
}

a{
	text-decoration:none;
	color:#665E60;
}

a:hover{
	color:red;
}

h3{
	margin-left:19%;
	line-height:1em;
}

h4{
	margin-left: 20%;
}

h5{
	margin-left: 20%;
}

h4, h5{
	line-height:.2em;
}

ul{
	margin-left: 21%;
	line-height:1.5em;
	margin-bottom:3em;
}

.top_category{
	margin-top:2em;
}

/*styling for smaller screens*/
@media only screen and (max-width: 1020px){

	body{
		font-size:12px;
		min-width:700px;
	}

}
