body{
	background-color:#665E60; 
	color:#665E60;
	font-family:Arimo;
	font-size:16px;
}

img{
	width:100%;
}

.left_container{
	float:left;
	display:inline;
	width:22.2%;
}

.mission_text{
	color:#fff;
	margin-top:1em;
	padding:.0  1.7em 0 .7em;
	text-align: right;
	line-height:1.5em;
}

.main_content{
	float:right;
	display:inline;
	width:77.8%;
	background-color:#fff;
}

header{
	text-align: center;
}

h1{
	font-size: 2.7em;
	line-height: .3em;
	margin-top:1.5em;
}

h2{
	font-size: 1.4em;
	line-height: 0.75em;
	margin-bottom:2em;
}

address{
	font-style:normal;
}

a{
	text-decoration:none;
	color:#665E60;
}

a:hover{
	color:red;
}

h3{
	margin-left:19%;
	line-height:1em;
}

h4{
	margin-left: 20%;
}

h5{
	margin-left: 20%;
}

h4, h5{
	line-height:.2em;
}

ul{
	margin-left: 21%;
	line-height:1.5em;
	margin-bottom:3em;
}

.top_category{
	margin-top:2em;
}

/*styling for smaller screens*/
@media only screen and (max-width: 1020px){

	body{
		font-size:12px;
		min-width:700px;
	}

}
