/* You will get to love this come Wednesday! */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; 
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body{
	font-family:"Lato";
	margin:0;
	color:#000;
	font-size:16px;
}

a{
	text-decoration: none;
}

a:hover{
	cursor: pointer;
}

.absolute{
	position:absolute;
}

li{
	list-style: none;
}



/*-------Header----------*/


.top_bar {
	background-color:#fff;
	top:0;
	position:fixed;
	height:2.75rem; /* 44px / 16px = em value */
	border-bottom: .3rem solid #000;
	text-align:right;
	width:100%;
	z-index:9;
}

	.top_nav > a {
		color: #000;
		display: inline-block;
		line-height: 2.44rem;
		padding-right:1.25rem;
		text-transform: uppercase;
		font-size:1.25rem;
	}

	.logo{
		position:absolute;
		top: .25rem;
		left:1.25rem;
		z-index:10;
		}


/*-------End of Header----------*/



.gallery{
	width:100%;
	position:relative;
	display:block;
	height:50rem;
	margin-top:2.75rem;
	max-width:2000px;
	background-color:#000;
}

	.col_one-four{
		width: 25%;
		float:left;
	}

	.gallery>a {
		height:100%;
		overflow:hidden;
		position:relative;
		float:left;
	}

	.gallery>a>img{
		opacity:0.8;
	}


	.gallery>a:hover img{
		opacity:1;
	}

	.gallery>a:hover nav{
		opacity:1;
	}

	.wedding_img{
		right:-36.56rem;
	}

	.headshots_img{
		right:-29.06rem;
	}

	.music_img{
		right:-33.13rem;
	}

	.art_img{
		right:-37.5rem;	
	}

	.gallery>a>nav{
		margin-top:36.25rem;
		height:2.75rem;
		width:100%;
		background-color:#fff;
 		text-transform: uppercase;
 		font-size:1.25rem;
 		text-align: center;
 		line-height:2.44rem;
 		border-bottom: .31rem solid #000;
 		opacity:0.8;
		color:#000;
		float:left;
		position: relative;
		clear:both;
	}

.black_border{
	border-top:44px solid #000;
}

#about{
	background-color:#fff;
	display:block;
}

	.container{
		width:62.5rem;
		margin: 0 auto;
		position:relative;
		clear:both;
		overflow:hidden;
		display:block;
	}

	.ryan_image_container{
		float:left;
		width:50%;
		position:relative;
		height:31.25rem;
	}

	.ryan_image_container:hover .ryan_face{
		display:none;
	}

	.ryan_silly_face{
		position:absolute;
		width:100%;
	}
		.ryan_face{
		position:absolute;
		width:100%;
	}
	
	.text_container{
		float:left;
		width:50%;
		height:31.25rem;
		position:relative;
	}



main {
	background-color:#000;
}

	.tab{
		background-color:#000;
		margin-left:6.25rem;
		position:absolute;
		color:#fff;
		padding:.625rem;
		z-index: 8;
	}

	.second_container{
		clear:both;
		position:relative;
		display:block;
	}

		.gallery_img{
			display:block;
			position:relative;
			width:100%;
			padding-right: 4px;
			background-color:#000;
		}

		.gallery_img img{
			width:100%;
			display:block;
		}

		.first_img{
			width:50%;
			float:left;
			position:relative;
			padding-left: 4px;
			background-color:#000;
		}
		.second_img{
			width:25%;
			float:left;
			position:relative;
		}
			.horizontal_img{
				float:left;
				position:relative;
				width:25%;
				padding-bottom:4px;
				background-color:#000;
				display:block;
			}

		.caption{
			color:#fff;
			background-color:rgba(0, 0, 0, 0.6);
			width:100%;
			text-align:left;
			font-size:1em;
			position:absolute;
			z-index:8;
			display:none;
			bottom:0px;
			margin-left:-4px;
			padding: 5px 10px;
		}

		.horizontal_img:hover .caption, .second_img:hover .caption, .first_img:hover .caption {
			display: block;
		}

	#headshot{
		display:block;
		}

#booking{
	clear:both;
}

#booking .container {
	height:300px;
}

h2{
	text-align:center;
	display:block;

}

.pricing{
	position: relative;
	display: block;
	float: left;
	border-top: 1px solid #000;
	width: 23%;
	height: 214px;
	margin-left: 20px;
}

h3{
	text-align: center;
}

text{
	text-align: center;
	color:#000;
	position:relative;
	display:block;
}

button{
	background-color: #000;
	padding: 10px 20px;
	text-align: center;
	color: #FFF;
	display: block;
	position: absolute;
	left: 22%;
	border: 0px none;
	font-size: 1rem;
	bottom: 0px;
}

button:hover{
	cursor:pointer;
}

footer{
	background-color:#000;
	clear:both;
	display:block;
	position:relative;
	color:#fff;
}

.footer_about{
	position:relative;
	display:inline-block;
	clear:both;
	border-right:1px solid #fff;
	width:50%;
}

.footer_about>img{
	position:relative;
	float:left;
}

.footer_about>text{
	color: #FFF;
	float: left;
	position: relative;
	width: 80%;
	text-align: left;
	padding-left: 20px;
}

.footer_nav_copyright{
	position:relative;
	display:inline-block;
	clear:both;
	width:50%;
}

.footer_nav_copyright>nav{
	float:left;
	position:relative;
	width:100%;
}
.footer_nav_copyright>nav>a{
	text-decoration: none;
	margin-left:20px;
	color:#fff;
}

.copy_right{
	float:left;
	position:relative;
	width:100%;
}





